# Configuration file

general {
    # Item classes that appear in this list will not be repaired by the Reconstructor.
    S:Blacklist <
     >

    # How much energy is required per point of damage.
    I:EnergyUse=50

    # If true, will only repair things that extend the tool, armor, sword and bow classes.
    B:Restricted=false
}


