# Configuration file

general {
    # When true, the enchantment won't take effect when crouched.
    B:"Disable When Crouching"=true

    # When true, the enchantment won't take effect when stood up.
    B:"Disable When Standing"=false

    # Determines whether the veining enchantment destroys other connected veins of different ores, or only of the original type mined.
    B:"Multiple Vein Types"=false

    # Controls how rare the enchantment is (with 100% being as the mod was intended). It is recommended to keep it between 80% and 120%, and more statistics can be found on the wiki.
    # Min: 0
    # Max: 200
    I:"Rarity (%)"=100

    # Controls how much damage is done to the pickaxe per ore when the enchantment crumbles a vein.
    # Min: 0
    # Max: 5
    I:"Veining Durability Cost"=2
}


